[submodule "External/vcpkg"]
	path = External/vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "External/imgui"]
	path = External/imgui
	url = git@github.com:parsaiej/imgui.git
[submodule "External/dds_image"]
	path = External/dds_image
	url = git@github.com:spnda/dds_image.git
[submodule "External/meshoptimizer"]
	path = External/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
